$red: #cb1515
$white: #fff
$black: #050505

=flex_sb_fs
  display: flex
  justify-content: space-between
  align-items: flex-start

=flex_sb_fe
  display: flex
  justify-content: space-between
  align-items: flex-end

=flex_sb_c
  display: flex
  justify-content: space-between
  align-items: center

=flex_sb_s
  display: flex
  justify-content: space-between
  align-items: stretch

=flex_sa_fs
  display: flex
  justify-content: space-around
  align-items: flex-start

=flex_sa_fe
  display: flex
  justify-content: space-around
  align-items: flex-end

=flex_sa_c
  display: flex
  justify-content: space-around
  align-items: center

=flex_c_fs
  display: flex
  justify-content: center
  align-items: flex-start

=flex_c_fe
  display: flex
  justify-content: center
  align-items: flex-end

=flex_c_c
  display: flex
  justify-content: center
  align-items: center

=flex_fs_c
  display: flex
  justify-content: flex-start
  align-items: center

=flex_fs_fs
  display: flex
  justify-content: flex-start
  align-items: flex-start

=flex_fs_s
  display: flex
  justify-content: flex-end
  align-items: stretch
=flex_fs_fe
  display: flex
  justify-content: flex-start
  align-items: flex-end

=flex_fe_fe
  display: flex
  justify-content: flex-end
  align-items: flex-end

=flex_fe_s
  display: flex
  justify-content: flex-end
  align-items: stretch

=flex_fe_fe
  display: flex
  justify-content: flex-end
  align-items: flex-end

=flex_fe_fs
  display: flex
  justify-content: flex-end
  align-items: flex-start
